@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Almarai', sans-serif;
        color:#1D293F;
    }
    #menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
    #menuToggle span
{
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  
  background: rgb(98, 97, 97);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


    .bg-primary{
        background: linear-gradient(177deg, rgba(255,255,255,1) 0%, rgba(222,215,235,1) 60%, rgba(222,215,234,1) 100%);
        background-repeat: no-repeat;
    }

    .bg-primary-light{
        background: linear-gradient(177deg, rgba(255,255,255,1) 0%, rgba(222,215,235,0.5) 60%, rgba(222,215,234,0.3) 100%);
        background-repeat: no-repeat;
    }
    .bg-primary-pink {
        background: linear-gradient(90deg, #F065A5 -35.43%, rgba(240, 101, 165, 0.47) 35.81%, rgba(240, 101, 165, 0.00) 100%);
    }

    .product-card:hover .product-img{
        filter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(22deg) brightness(105%) contrast(101%);
    }

    .product-card:hover {
        fill: linear-gradient(90deg, #F065A5 -35.43%, rgba(240, 101, 165, 0.47) 35.81%, rgba(240, 101, 165, 0.00) 100%);
    }
    .shadow-custom {
        box-shadow: 16px 16px 44px 0px rgba(0, 0, 0, 0.05);
    }
    .product-info {
        border-radius: 10px;
    }
    .bg-news-banner {
        background: url('../src/assets/flower-message.png'), lightgray 50% / contain no-repeat;
        width: 430px;
        height: 430px;
    }
    
}

  @layer components {
    .product-card {
      @apply hover:bg-light-brand
       hover:text-white hover:fill-white 
       cursor-pointer flex-shrink-0 h-[10rem] w-[10rem] lg:h-[12rem] lg:w-[14rem]       /* w-[150px] ti:h-[120px]  */
         bg-white shadow-lg rounded-md lg:mx-4;
    }
   

    .bg-secondary {
       @apply bg-logo-marks bg-center bg-no-repeat;
    }
    .primary-heading {
       @apply lg:text-3xl font-bold md:text-2xl sm:text-lg ti:text-lg;
    }
    
    .secondary-heading {
        @apply text-xl font-bold;
    }
    .icon-btn {
        @apply text-center h-[50px] w-[50px] rounded-full text-light-brand hover:bg-light-brand hover:text-white p-3 border border-light-brand cursor-pointer;
    }
    .hint-text {
        @apply text-sm font-normal text-pink-brand space-x-2 hover:text-light-brand;
    }
    .text-hint-grey {
        @apply text-sm font-normal text-gray-dark;
    }
    .sale {
        @apply rounded-full text-white bg-pink-brand py-1 px-1 text-xs;
    }
    .news-banner {
        @apply right-[20%] left-[20%] py-6 px-4 fixed  w-fit top-[30%] bg-white z-50 rounded-lg flex justify-between gap-5 shadow-custom
        ;
    }
    .text-price {
        @apply text-light-brand text-lg;
    }
    .btn {
        @apply w-full py-2 block outline-none text-lg text-center rounded-md my-2;
    }
    .btn-primary {
        @apply text-white bg-light-brand hover:bg-opacity-80;
    }
    .event-card {
       @apply flex flex-col hover:bg-light-brand
       hover:text-white hover:fill-white flex-1 flex-wrap
       cursor-pointer
        bg-white p-5 m-4 shadow-lg rounded-md
         justify-center items-center w-[140px] flex-shrink-0;
    }
    
}